# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo

# ---------------- Env ----------------
.env

# ---------------- Virtual Env ----------------
venv/
env/

# ---------------- OS ----------------
.DS_Store

# ---------------- IDE ----------------
.vscode/
.idea/

# ---------------- Streamlit ----------------
.streamlit/

# ---------------- RAG Specific ----------------
code_index/     # FAISS vector DB
repo/           # cloned GitHub repos

# ---------------- Logs ----------------
*.log

# ---------------- Jupyter ----------------
.ipynb_checkpoints/

# ---------------- Temp ----------------
*.tmp
*.bak